* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 1px solid; */
        /* overflow: hidden; */
}

body {
        background-color: #e4edc2;
        z-index: -1;
        position: absolute;
}

.container {
        width: 100%;
        margin: 0 auto;
        /* overflow: hidden; */
        position: relative;
}

@font-face {
        font-family: ubuntu;
        src: url(../font/ubuntu/Ubuntu-M.ttf);
}

@font-face {
        font-family: lato;
        src: url(../font/Lato2OFL/Lato2OFL/Lato-Medium.ttf);
}

h2,
h3 {
        font-family: ubuntu;
}

p {
        font-family: lato;
}

.row {
        display: flex;
        flex-wrap: wrap;
}

.jc-sp-bt {
        justify-content: space-between;
}

.jc-sp-aro {
        justify-content: space-around;
}

/* .jc-centre {
        justify-content: center;
} */

.po-rel {
        position: relative;
}

.pos-ab {
        position: absolute;
}

/* ------------------------------------------------------- */
.col30 {
        width: 100%;
}

.col50 {
        width: 100%;
}

.col20 {
        width: 20%;
}

.hamburger {
        display: none;
        cursor: pointer;
        padding: 50px 0;
}


.bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: aliceblue;
}


.header,
.sec1 {
        overflow-x: clip;
}

.Shape1 {
        top: -72px;
        left: 162px;
        z-index: -2;
}

.Shape2 {
        z-index: -2;
        top: 450px;
        right: -9px;
        display: none;
}

.header {
        background-image: url(../img/background-1.png);
        background-repeat: no-repeat;
        color: #ffffff;

}

.logo {
        padding: 50px 0;
}

.menu {
        display: flex;
        align-items: center;
}

.menu li {
        list-style: none;
        padding: 0 10px;
}

.menu a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
}

.header-main {
        /* width: 40%; */
        margin: 0 auto;
        text-align: center;
        padding: 200px 0;

}

.header-main h2 {
        font-size: 70px;
        padding: 10px 0;
}

.header-main p {
        font-size: 25px;
        padding: 10px 0;
}

.dots {
        /* top: 470px;
        right: -55px; */
        /* display: none; */

}

.dots img,
.dots2 img,
.dots3 img,
.dots4 img,
.dots5 img,
.dots6 img,
.dots7 img {
        width: 70%;
}

.dots2 {
        top: 755px;
        left: 100px;
}


.sec1 {
        padding: 100px 0;
}

.sec1-text {
        padding: 50px 0;
}

.sec1-text h2 {
        font-size: 50px;
        text-align: center;
        color: #7287ae;
}

.box1 {
        background-color: #ffffff;
}

.box1-img {
        height: 300px;
        overflow: hidden;
}

.box1-img img {
        width: 100%;
}

.box1-text {
        padding: 10px;
        background-color: #ffffff;
        color: #504f4f;
}

.box1-text h3 {
        font-size: 25px;
        padding: 10px 0;
}

.box1-text p {
        font-size: 20px;
        padding: 10px 0;
}

.sec1-btn {
        text-align: center;
        padding: 50px 0;

}

.sec1-btn input,
.sec2-btn input {
        height: 40px;
        width: 150px;
        background-color: #7287ae;
        color: #ffffff;
        border: none;
        border-radius: 50px;
}

.dots3 {
        top: 700px;
        right: -95px;
}


/* ------sec-2---- */

.sec-2 {
        background-color: white;
}

.sec2-img {
        /* height: 600px; */
}

.sec2-img img {
        width: 100%;
        /* height: 100%; */
        display: block;
}

.aling {
        align-items: center;
}

.sec2-1-text {
        padding-left: 25px;
        padding-right: 50px;
}

.sec2-2-text {
        padding-right: 25px;
        padding-left: 50px;
}

.sec2-1-text h2,
.sec2-2-text h2 {
        font-size: 65px;
        padding: 10px 0;
}

.sec2-text p,
.sec2-text p {
        font-size: 20px;
        padding: 10px 0;
        text-align: justify;
}

.sec2-btn {
        padding: 50px 0;
}

.dots4 {
        top: 615px;
        left: 275px;
}

.dots5 {
        bottom: -35px;
        right: 85px;
}

.sec3 {
        background-color: #7287ae;
        color: #ffffff;
        padding: 30px 0;
}

.sec3-text {
        text-align: center;
}

.sec3-box {
        /* font-size: 30px; */
        padding: 20px;
        text-align: center;
}

.sec3-box h3 {
        font: 20px;
        padding: 20px;
        color: #7287ae;
        background-color: #ffffff;
        border-radius: 50%;
        width: 62px;
        margin: 0 auto;
}


.sec3-box h2 {
        font-size: 25px;
        padding: 20px 0;
        /* text-align: center; */
}

.sec3-box p {
        font-size: 15px;
        /* text-align: justify; */
        padding: 10px 0;
}

.sec4 {
        background-image: url(../img/sec4img.png);
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        color: #7287ae;
        text-align: center;
}

.sec4-text {
        width: 60%;
        margin: 0 auto;
}

.sec4-text h2 {
        font-size: 30px;
        padding: 20px 0;
}

.sec4-text p {
        font-size: 20px;
        padding: 20px 0;

}

.dots6 {
        bottom: -140px;
        right: 85px;
}

.sec5 {
        color: #7287ae;
        padding: 50px 0;
        text-align: center;
}

.sec5-text {
        width: 60%;
        margin: 0 auto;
}

.sec5-text img {
        padding: 20px;
}

.sec5-text h2 {
        font-size: 25px;
        padding: 20px 0;
}

.sec5-text p {
        font-size: 20px;
        padding: 20px 0;
}

.sec5-icon {
        font-size: 35px;
        padding: 10px 0;
}

.sec5-icon i {
        padding: 10px;
}

.dots7 {
        bottom: -120px;
        left: 85px;
}

.footer {
        background-image: url(../img/footer1.png);
        background-repeat: no-repeat;
        color: #ffffff;
        background-position: center;
        overflow: hidden;
}

.sec5,
.footer {
        overflow-x: clip;
}

.footer2 {
        /* top: -1px;
        left: -265px;
        z-index: -2; */
        display: none;
}



.footer3 {
        /* top: 4px;
        left: -5px;
        z-index: -2; */
        display: none;
}

.footer-main {
        /* padding: 185px 0; */
        /* overflow: hidden; */
}

.footer-text-1 {
        /* padding: 30px 0; */
}

.footer-text-2 {
        /* padding: 30px 0; */
}

.footer-text-1 h2,
.footer-text-2 h2 {
        font-size: 20px;
        /* padding: 25px 0; */
}

.footer-text-1 p,
.footer-text-2 p {
        font-size: 15px;
}

.footer-text-1 p {
        /* padding: 10px 0; */
}

.footer-text-2 p {
        /* padding: 5px 0; */
}

/* ----------------------- */
.menu a:hover {
        color: #e4edc2;
}

.box1-img img {
        filter: grayscale(.3);
        transition: 0.6s all ease-in-out;

}

.box1-img img:hover {
        transform: scale(1.1);
        overflow: hidden;
        filter: grayscale(0);
}

.sec1-btn input,
.sec2-btn input {
        transition: 1s all;
}

.sec1-btn input:hover,
.sec2-btn input:hover {
        background-color: transparent;
        border: 2px solid #7287ae;
        color: rgb(230, 160, 103);
}

.sec2-img img {
        transition: 1s all ease-in-out;
}

.sec2-img {
        overflow: hidden;
}

.sec2-img img:hover {
        transform: scale(1.1);
}

.sec3-box:hover h3 {
        background-color: #e4edc2;
        cursor: pointer;
}

.sec3-box:hover {
        color: #e4edc2;
}

.sec5-icon i {
        transition: 1s all;
}

.sec5-icon i:hover {
        transform: translateY(10px);
        padding-bottom: 20px;
        color: rgb(230, 160, 103);
}

.sec1-btn button:hover {
        border: #7287ae 2px solid;
}

.footer-text-1 p:hover,
.footer-text-2 p:hover {
        color: #e4edc2;
        cursor: pointer;
}

.footer-text-1 h2:hover,
.footer-text-2 h2:hover {
        color: #e4edc2;

}