@media (min-width: 576px) {
        .container {
                width: 540px;
        }

        .col30 {
                width: 100%;
        }

        .col50 {
                width: 100%;
                /* flex-wrap: wrap-reverse; */
        }

        .col20 {
                width: 20%;
        }

        .Shape1 {
                display: none;
        }

        .Shape2 {
                display: none;
        }

        .header {
                background-size: cover;
                background-position: 0px -35px;
        }

        .logo {
                width: 30%;
        }

        .logo img {
                width: 100%;
        }

        .header-main {
                padding: 0;
                width: 100%;
        }

        .header-main h2 {
                font-size: 60px;
                padding: 20px 0;
        }

        .header-main p {
                padding-top: 0px 0;
                padding-bottom: 137px;
        }

        .dots {
                top: 235px;
                right: -20px;
        }

        .dots2 {
                top: 425px;
                left: 45px;
        }

        .dots3 {
                top: 1620px;
                right: -45px;
        }

        .dots4 {
                top: 981px;
                left: 55px;
        }

        .dots5 {
                bottom: -84px;
                right: 0;
        }

        .dots6 {
                bottom: -75px;
                right: 25px;
        }

        .dots7 {
                bottom: -150px;
                left: 362px;
        }

        .sec1 {
                padding: 35px 0;
        }

        .box1 {
                margin: 10px 0;
        }

        .sec1-btn {
                padding: 20px 0
        }

        .sec2-1-text,
        .sec2-2-text {
                text-align: center;
                padding: 20px;
        }

        .sec2-1-text h2,
        .sec2-2-text h2 {
                font-size: 60px;
        }

        /* .direction {
                flex-direction: column-reverse
        } */

        .sec4 {
                padding: 35px 0;
        }

        .sec5 {
                padding: 25px 0;
        }

        .sec5-text {
                width: 100%;
        }

        .footer2 {
                display: none;
        }

        .footer3 {
                display: none;
        }

        .footer {
                background-size: cover;
                background-position: -6px 0;
        }

        .footer-main {
                padding: 30px 0;
        }

        .footer-text-1 h2 {
                padding-top: 170px;
                padding-bottom: 10px;
        }

        .footer-text-1 p {
                padding: 10px 0;
        }

        .footer-text-2 {
                padding: 15px 0;
        }

        .footer-text-2 h2 {
                padding: 10px 0;
        }

        .footer-text-2 p {
                padding: 5px 0;
        }

}

@media (min-width: 768px) {
        .container {
                width: 720px;
        }

        .col30 {
                width: 100%;
        }

        .col50 {
                width: 100%;
                /* flex-wrap: wrap-reverse; */
        }

        .col20 {
                width: 20%;
        }

        .logo {
                width: 40%;
        }

        .logo img {
                width: 100%;
        }

        .header {
                background-size: cover;
                background-position: 0px -35px;
        }

        .header-main h2 {
                padding: 25px 0;
                font-size: 50px;
        }

        .header-main p {
                padding-bottom: 204px;
                font-size: 20px;
        }

        .dots {
                top: 255px;
                /* left: 100px; */
                /* display: none; */
        }

        .dots2 {
                top: 405px;
                left: 45px;
        }

        .dots3 {
                top: 1620px;
                right: -95px;
        }

        .dots4 {
                top: 1175px;
                left: 55px;
        }

        .dots5 {
                bottom: -84px;
                right: 0;
        }

        .dots6 {
                bottom: -75px;
                right: 25px;
        }

        .dots7 {
                bottom: -100px;
                left: 25px;
        }

        .footer {
                background-size: cover;
                background-position: -7px 2px;
        }

        .footer-text-1 h2 {
                padding-top: 190px;
        }

}

@media (min-width: 992px) {
        .container {
                width: 960px;
        }

        .col30 {
                width: 30%;
        }

        .col50 {
                width: 50%;
                /* flex-direction: row; */
        }

        .col20 {
                width: 20%;
        }

        .header {
                background-size: cover;
                background-position: 0px -46px;
        }

        .dots {
                top: 255px;
                right: 15px;
                /* display: none; */
        }

        .dots2 {
                top: 457px;
                left: 45px;
        }

        .dots3 {
                top: 675px;
                right: -95px;
        }

        .dots4 {
                top: 500px;
                left: 55px;
                z-index: 1;
        }

        .dots5 {
                bottom: -40px;
                right: 0;
        }

        .dots6 {
                bottom: -75px;
                right: 25px;
        }

        .dots7 {
                bottom: -50px;
                left: 25px;
        }

        .direction {
                flex-direction: row;
        }

        .footer {
                background-size: cover;
                background-position: -1px 0;
        }

        .footer-text-2 {
                padding: 0;
        }

        .footer-text-2 h2 {
                padding-top: 190px;
        }
}

@media (min-width: 1200px) {
        .container {
                width: 1140px;
        }

        .col30 {
                width: 30%;
        }

        .col50 {
                width: 50%;
                /* flex-direction: row; */
        }

        .col20 {
                width: 20%;
        }

        .Shape1 {
                display: block;
                top: -215px;
                left: 162px;
                z-index: -2;
        }

        .Shape2 {
                display: block;
                z-index: -2;
                top: 280px;
                right: -9px;
        }

        .header {
                background-size: cover;
                background-position: 0px -86px;
        }

        .header-main h2 {
                padding-top: 90px;
        }

        .header-main p {
                padding-bottom: 204px
        }

        .dots {
                top: 285px;
                right: 5px;
                /* display: none; */
        }

        .dots2 {
                top: 530px;
                left: 45px;
        }

        .dots3 {
                top: 675px;
                right: -95px;
        }

        .dots4 {
                top: 615px;
                left: 55px;
                z-index: 1;
        }

        .dots5 {
                bottom: -40px;
                right: 0;
        }

        .dots6 {
                bottom: -75px;
                right: 25px;
        }

        .dots7 {
                bottom: -5px;
                left: 25px;
        }

        .sec5-text {
                width: 60%;
        }

        .footer {
                background-size: cover;
                background-position: -1px 0;
        }

        .footer2 {
                display: block;
                top: -1px;
                left: -265px;
                z-index: -2;
        }


        .footer3 {
                display: block;
                top: 4px;
                left: -5px;
                z-index: -2;
        }
}

@media(max-width:768px) {
        .hamburger {
                display: block;
        }

        .menu {
                position: fixed;
                right: -100%;
                top: 80px;
                gap: 0;
                flex-direction: column;
                background-color: #e4edc2;
                width: 100%;
                text-align: center;
                transition: 0.7s;
                z-index: 1;
        }

        .menu li {
                padding: 10px;
        }

        .menu li a {
                /* margin: 16px 0; */
                color: #7287ae;

        }

        .menu.active {
                right: 0;
        }
}